[submodule "iOS-Awesome-Starter-Kit"]
	path = iOS-Awesome-Starter-Kit
	url = https://github.com/NghiaTranUIT/iOS-Awesome-Starter-Kit.git
[submodule "HackathonStarter"]
	path = HackathonStarter
	url = https://github.com/tattn/HackathonStarter
[submodule "iOS-mvp-sample"]
	path = iOS-mvp-sample
	url = https://github.com/iyadagha/iOS-mvp-sample
[submodule "CleanArchitectureRxSwift"]
	path = CleanArchitectureRxSwift
	url = https://github.com/sergdort/CleanArchitectureRxSwift.git
[submodule "Archit-iOS"]
	path = Archit-iOS
	url = https://github.com/intelygenz/Archit-iOS.git
[submodule "currency-converter-swift3.0-viper"]
	path = currency-converter-swift3.0-viper
	url = https://github.com/tirupati17/currency-converter-swift3.0-viper.git
[submodule "clean-swift-templates"]
	path = clean-swift-templates
	url = https://github.com/HelmMobile/clean-swift-templates.git
[submodule "ios-architectures"]
	path = ios-architectures
	url = https://github.com/tattn/ios-architectures.git
[submodule "ios-mvp-clean-architecture"]
	path = ios-mvp-clean-architecture
	url = https://github.com/FortechRomania/ios-mvp-clean-architecture
[submodule "Model-View-Presenter"]
	path = Model-View-Presenter
	url = https://github.com/albertojauregui/Model-View-Presenter.git
[submodule "emplesSwift"]
	path = emplesSwift
	url = https://github.com/vascome/emplesSwift.git
[submodule "SwinjectSimpleExample"]
	path = SwinjectSimpleExample
	url = https://github.com/Swinject/SwinjectSimpleExample
[submodule "SwinjectMVVMExample"]
	path = SwinjectMVVMExample
	url = https://github.com/Swinject/SwinjectMVVMExample
[submodule "RxSwiftCleanArchitecture"]
	path = RxSwiftCleanArchitecture
	url = https://github.com/kirou/RxSwiftCleanArchitecture.git
